Repository MoscowSquad/plan-mate, pull requests merged in 2025-05, with the labels that each got.

#10 Test/add state use case test
  src/main/kotlin/data/repositories/ProjectsRepositoryImpl.kt
  src/main/kotlin/logic/repositoies/ProjectsRepository.kt
  src/main/kotlin/logic/usecases/AddStateUseCase.kt
  src/main/kotlin/utilities/Exception.kt
  src/test/kotlin/logic/usecases/AddStateUseCaseTest.kt
Labels: test cases

#24 User Management
  src/main/kotlin/data/repositories/UserRepositoryImpl.kt
  src/main/kotlin/logic/repositoies/UserRepository.kt
  src/main/kotlin/logic/usecases/user/AssignProjectToUserUseCase.kt
  src/main/kotlin/logic/usecases/user/CreateUserUseCase.kt
  src/main/kotlin/logic/usecases/user/DeleteUserUseCase.kt
  src/main/kotlin/logic/usecases/user/GetAllUsersUseCase.kt
  src/main/kotlin/logic/usecases/user/GetUserByIdUseCase.kt
  src/main/kotlin/logic/usecases/user/RemoveFromProjectUserUseCase.kt
  src/main/kotlin/utilities/Exception.kt
  src/test/kotlin/data/repositories/UserRepositoryImplTest.kt
  src/test/kotlin/logic/usecases/user/AssignProjectToUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/CreateUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/DeleteUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/GetAllUsersUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/GetUserByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/RemoveFromProjectUserUseCaseTest.kt
Labels: feature, test cases

#25 Feature/project management
  src/main/kotlin/data/repositories/ProjectsRepositoryImpl.kt
  src/main/kotlin/logic/repositoies/ProjectsRepository.kt
  src/main/kotlin/logic/usecase/CreateProjectUseCase.kt
  src/main/kotlin/logic/usecase/DeleteProjectUseCase.kt
  src/main/kotlin/logic/usecase/GetAllProjectsUseCase.kt
  src/main/kotlin/logic/usecase/GetProjectByIdUseCase.kt
  src/main/kotlin/logic/usecase/UpdateProjectUseCase.kt
  src/main/kotlin/utilities/Exception.kt
  src/test/kotlin/data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/logic/usecase/CreateProjectUseCaseTest.kt
  src/test/kotlin/logic/usecase/DeleteProjectUseCaseTest.kt
  src/test/kotlin/logic/usecase/GetAllProjectsUseCaseTest.kt
  src/test/kotlin/logic/usecase/GetProjectByIdUseCaseTest.kt
  src/test/kotlin/logic/usecase/UpdateProjectUseCaseTest.kt
Labels: feature, test cases

#22 State Management
  src/main/kotlin/data/repositories/StateRepositoryImpl.kt
  src/main/kotlin/data/repositories/StatesRepositoryImpl.kt
  src/main/kotlin/logic/repositoies/StateRepository.kt
  src/main/kotlin/logic/repositoies/StatesRepository.kt
  src/main/kotlin/logic/usecases/AddStateUseCase.kt
  src/main/kotlin/logic/usecases/DeleteStateUseCase.kt
  src/main/kotlin/logic/usecases/EditStateUseCase.kt
  src/main/kotlin/logic/usecases/GetStateByIdUseCase.kt
  src/main/kotlin/logic/usecases/GetStatesByProjectIdUseCase.kt
  src/main/kotlin/utilities/Exception.kt
  src/test/kotlin/logic/usecases/DeleteStateUseCaseTest.kt
  src/test/kotlin/logic/usecases/EditStateUseCaseTest.kt
  src/test/kotlin/logic/usecases/GetStateByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/GetStatesByProjectIdUseCaseTest.kt
Labels: test cases

#17 Test/tasks use case
  src/main/kotlin/data/repositories/TasksRepositoryImpl.kt
  src/main/kotlin/logic/models/Project.kt
  src/main/kotlin/logic/models/Task.kt
  src/main/kotlin/logic/repositoies/TasksRepository.kt
  src/main/kotlin/logic/usecases/project/CreateProjectUseCase.kt
  src/main/kotlin/logic/usecases/project/DeleteProjectUseCase.kt
  src/main/kotlin/logic/usecases/project/GetAllProjectsUseCase.kt
  src/main/kotlin/logic/usecases/project/GetProjectByIdUseCase.kt
  src/main/kotlin/logic/usecases/project/UpdateProjectUseCase.kt
  src/main/kotlin/logic/usecases/state/AddStateUseCase.kt
  src/main/kotlin/logic/usecases/state/DeleteStateUseCase.kt
  src/main/kotlin/logic/usecases/state/EditStateUseCase.kt
  src/main/kotlin/logic/usecases/state/GetStateByIdUseCase.kt
  src/main/kotlin/logic/usecases/state/GetStatesByProjectIdUseCase.kt
  src/main/kotlin/logic/usecases/task/AddTaskUseCase.kt
  src/main/kotlin/logic/usecases/task/DeleteTaskUseCase.kt
  src/main/kotlin/logic/usecases/task/EditTaskUseCase.kt
  src/main/kotlin/logic/usecases/task/GetTaskByIdUseCase.kt
  src/main/kotlin/logic/usecases/task/GetTaskByProjectIdUseCase.kt
  src/main/kotlin/utilities/Exception.kt
  src/test/kotlin/logic/usecases/project/CreateProjectUseCaseTest.kt
  src/test/kotlin/logic/usecases/project/DeleteProjectUseCaseTest.kt
  src/test/kotlin/logic/usecases/project/GetAllProjectsUseCaseTest.kt
  src/test/kotlin/logic/usecases/project/GetProjectByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/project/UpdateProjectUseCaseTest.kt
  src/test/kotlin/logic/usecases/state/DeleteStateUseCaseTest.kt
  src/test/kotlin/logic/usecases/state/EditStateUseCaseTest.kt
  src/test/kotlin/logic/usecases/state/GetStateByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/state/GetStatesByProjectIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/AddUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/DeleteUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/EditUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/GetByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/GetTaskByProjectIdUseCaseTest.kt
Labels: test cases

#26 feature/authentication management
  src/main/kotlin/data/repositories/AuthenticationRepositoryImpl.kt
  src/main/kotlin/logic/repositoies/AuthenticationRepository.kt
  src/main/kotlin/logic/usecases/LoginUseCase.kt
  src/main/kotlin/logic/usecases/RegisterUseCase.kt
  src/test/kotlin/data/repositories/AuthenticationRepositoryImplTest.kt
  src/test/kotlin/logic/usecases/LoginUseCaseTest.kt
  src/test/kotlin/logic/usecases/RegisterUseCaseTest.kt
Labels: feature

#36 refactor/di
  src/main/kotlin/Main.kt
  src/main/kotlin/di/appModule.kt
  src/main/kotlin/di/repositoryModule.kt
  src/main/kotlin/di/useCaseModule.kt
Labels: fix

#31 Fix/tasks test cases
  src/test/kotlin/logic/usecases/task/DeleteTaskUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/EditTaskUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/GetTaskByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/task/GetTaskByProjectIdUseCaseTest.kt
Labels: fix

#35 add tests for audit-repository-impl
  src/main/kotlin/data/mappers/mapper.kt
  src/main/kotlin/data/repositories/AuditRepositoryImpl.kt
  src/main/kotlin/di/repositoryModule.kt
  src/main/kotlin/logic/repositories/AuditRepository.kt
  src/main/kotlin/logic/usecases/audit/AddAuditLogUseCase.kt
  src/test/kotlin/data/repositories/AuditRepositoryImplTest.kt
  src/test/kotlin/logic/usecases/audit/AddAuditLogUseCaseTest.kt
Labels: test cases

#43 Test/presentation layer
  src/main/kotlin/Main.kt
  src/main/kotlin/data/csv_parser/UserCsvParser.kt
  src/main/kotlin/data/repositories/AuthenticationRepositoryImpl.kt
  src/main/kotlin/di/SessionManager.kt
  src/main/kotlin/di/presentationModule.kt
  src/main/kotlin/logic/usecases/auth/LoginUseCase.kt
  src/main/kotlin/logic/usecases/task_state/AddTaskStateUseCase.kt
  src/main/kotlin/presentation/PlanMateConsoleUI.kt
  src/main/kotlin/presentation/audit/AddAuditLogUI.kt
  src/main/kotlin/presentation/audit/AuditUI.kt
  src/main/kotlin/presentation/audit/ViewAuditLogsByProjectUI.kt
  src/main/kotlin/presentation/audit/ViewAuditLogsByTaskUI.kt
  src/main/kotlin/presentation/project/GetAllProjectsUI.kt
  src/main/kotlin/presentation/project/ProjectsUI.kt
  src/main/kotlin/presentation/project/UpdateProjectUI.kt
  src/main/kotlin/presentation/user/AssignProjectToUserUI.kt
  src/main/kotlin/presentation/user/CreateUserUI.kt
  src/main/kotlin/presentation/user/DeleteUserUI.kt
  src/main/kotlin/presentation/user/GetAllUserUI.kt
  src/main/kotlin/presentation/user/GetUserByIdUI.kt
  src/main/kotlin/presentation/user/UserUI.kt
  src/test/kotlin/data/csv_parser/CsvHandlerTest.kt
  src/test/kotlin/data/csv_parser/UserCsvParserTest.kt
  src/test/kotlin/data/mappers/MapperKtTest.kt
  src/test/kotlin/data/repositories/AuthenticationRepositoryImplTest.kt
  src/test/kotlin/data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TaskStateRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TasksRepositoryImplTest.kt
  src/test/kotlin/data/repositories/UserRepositoryImplTest.kt
  src/test/kotlin/fake/FakeConsoleIO.kt
  src/test/kotlin/logic/models/AuditEntityTest.kt
  src/test/kotlin/logic/usecases/audit/AddAuditLogUseCaseTest.kt
  src/test/kotlin/logic/usecases/auth/LoginUseCaseTest.kt
  src/test/kotlin/logic/usecases/task_state/AddTaskStateUseCaseTest.kt
  src/test/kotlin/logic/usecases/task_state/DeleteTaskStateUseCaseTest.kt
  src/test/kotlin/presentation/PlanMateConsoleUITest.kt
  src/test/kotlin/presentation/audit/AddAuditLogUITest.kt
  src/test/kotlin/presentation/audit/AuditUITest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByProjectUITest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByTaskUITest.kt
  src/test/kotlin/presentation/auth/AuthenticationUITest.kt
  src/test/kotlin/presentation/auth/LoginUserUITest.kt
  src/test/kotlin/presentation/auth/RegisterAdminUITest.kt
  src/test/kotlin/presentation/io/ConsoleIOImplTest.kt
  src/test/kotlin/presentation/project/CreateProjectUITest.kt
  src/test/kotlin/presentation/project/DeleteProjectUITest.kt
  src/test/kotlin/presentation/project/GetAllProjectsUITest.kt
  src/test/kotlin/presentation/project/ProjectsUITest.kt
  src/test/kotlin/presentation/project/UpdateProjectUITest.kt
  src/test/kotlin/presentation/session/LoggedInUserTest.kt
  src/test/kotlin/presentation/user/AssignProjectToUserUITest.kt
  src/test/kotlin/presentation/user/CreateUserUITest.kt
  src/test/kotlin/presentation/user/DeleteUserUITest.kt
  src/test/kotlin/presentation/user/GetAllUserUITest.kt
  src/test/kotlin/presentation/user/GetUserByIdUITest.kt
  src/test/kotlin/presentation/user/UserUITest.kt
Labels: enhancement, test cases

#45 Fix/UI cases
  src/main/kotlin/presentation/user/CreateUserUI.kt
  src/main/kotlin/presentation/user/DeleteUserUI.kt
  src/main/kotlin/presentation/user/GetUserByIdUI.kt
Labels: fix

#48 Test/improve UI tests
  src/test/kotlin/data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TaskStateRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TasksRepositoryImplTest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByProjectUITest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByTaskUITest.kt
  src/test/kotlin/presentation/user/CreateUserUITest.kt
  src/test/kotlin/presentation/user/DeleteUserUITest.kt
  src/test/kotlin/presentation/user/GetUserByIdUITest.kt
Labels: enhancement, test cases, fix

#49 refactor-some-issue
  src/main/kotlin/data/mongodb_data/datasource/ProjectsDataSourceImpl.kt
  src/main/kotlin/data/mongodb_data/datasource/TaskDataSourceImpl.kt
  src/main/kotlin/data/mongodb_data/datasource/TaskStateDataSourceImpl.kt
  src/main/kotlin/data/mongodb_data/datasource/UserDataSourceImpl.kt
  src/main/kotlin/presentation/project/UpdateProjectUI.kt
  src/main/kotlin/presentation/user/UserUI.kt
Labels: fix

#52 Test/improve test cases
  src/main/kotlin/data/csv_data/repositories/ProjectsRepositoryImpl.kt
  src/main/kotlin/data/csv_data/repositories/TaskStateRepositoryImpl.kt
  src/main/kotlin/data/csv_data/repositories/TasksRepositoryImpl.kt
  src/main/kotlin/presentation/PlanMateConsoleUI.kt
  src/test/kotlin/data/csv_parser/AuditLogCsvParserTest.kt
  src/test/kotlin/data/csv_parser/ProjectCsvParserTest.kt
  src/test/kotlin/data/csv_parser/TaskCsvParserTest.kt
  src/test/kotlin/data/csv_parser/TaskStateCsvParserTest.kt
  src/test/kotlin/data/csv_parser/UserCsvParserTest.kt
  src/test/kotlin/data/datasource/AuditLogDataSourceImplTest.kt
  src/test/kotlin/data/datasource/ProjectDataSourceTest.kt
  src/test/kotlin/data/datasource/TaskDataSourceTest.kt
  src/test/kotlin/data/datasource/TaskStateDataSourceTest.kt
  src/test/kotlin/data/datasource/UserDataSourceTest.kt
  src/test/kotlin/data/mappers/MapperKtTest.kt
  src/test/kotlin/data/repositories/AuditRepositoryImplTest.kt
  src/test/kotlin/data/repositories/AuthenticationRepositoryImplTest.kt
  src/test/kotlin/data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TaskStateDataSourceImplTest.kt
  src/test/kotlin/data/repositories/TasksRepositoryImplTest.kt
  src/test/kotlin/logic/usecases/audit/AddAuditLogUseCaseTest.kt
  src/test/kotlin/logic/usecases/audit/ViewAuditLogsByProjectUseCaseTest.kt
  src/test/kotlin/logic/usecases/audit/ViewAuditLogsByTaskUseCaseTest.kt
  src/test/kotlin/logic/usecases/auth/LoginUseCaseTest.kt
  src/test/kotlin/logic/usecases/auth/RegisterUseCaseTest.kt
  src/test/kotlin/presentation/PlanMateConsoleUITest.kt
  src/test/kotlin/presentation/audit/AddAuditLogUITest.kt
  src/test/kotlin/presentation/audit/AuditUITest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByProjectUITest.kt
  src/test/kotlin/presentation/audit/ViewAuditLogsByTaskUITest.kt
  src/test/kotlin/presentation/auth/AuthenticationUITest.kt
  src/test/kotlin/presentation/auth/LoginUserUITest.kt
  src/test/kotlin/presentation/project/DeleteProjectUITest.kt
  src/test/kotlin/presentation/project/ProjectsUITest.kt
  src/test/kotlin/presentation/project/UpdateProjectNameUITest.kt
  src/test/kotlin/presentation/user/AssignProjectToUserUITest.kt
  src/test/kotlin/presentation/user/CreateUserUITest.kt
  src/test/kotlin/presentation/user/DeleteUserUITest.kt
  src/test/kotlin/presentation/user/GetAllUserUITest.kt
  src/test/kotlin/presentation/user/UserUITest.kt
Labels: enhancement, test cases, fix

#56 improvements add assign task to User
  src/main/kotlin/data/csv_data/csv_parser/UserCsvParser.kt
  src/main/kotlin/data/csv_data/dto/UserDto.kt
  src/main/kotlin/data/csv_data/mappers/mapper.kt
  src/main/kotlin/data/csv_data/repositories/UserRepositoryImpl.kt
  src/main/kotlin/data/data_source/UserDataSource.kt
  src/main/kotlin/data/mongodb_data/datasource/UserDataSourceImpl.kt
  src/main/kotlin/data/mongodb_data/dto/UserDto.kt
  src/main/kotlin/data/mongodb_data/mappers/mapper.kt
  src/main/kotlin/data/mongodb_data/repositories/UserRepositoryImpl.kt
  src/main/kotlin/data/mongodb_data/util/executeInIO.kt
  src/main/kotlin/di/presentationModule.kt
  src/main/kotlin/logic/models/User.kt
  src/main/kotlin/logic/repositories/UserRepository.kt
  src/main/kotlin/logic/usecases/auth/RegisterUseCase.kt
  src/main/kotlin/logic/usecases/user/AssignTaskToUserUseCase.kt
  src/main/kotlin/presentation/user/CreateUserUI.kt
  src/main/kotlin/presentation/user/GetAllUserUI.kt
  src/main/kotlin/presentation/user/GetUserByIdUI.kt
  src/test/kotlin/data/datasource/UserDataSourceTest.kt
  src/test/kotlin/data/mappers/MapperKtTest.kt
  src/test/kotlin/data/repositories/AuthenticationRepositoryImplTest.kt
  src/test/kotlin/data/repositories/UserDataSourceImplTest.kt
  src/test/kotlin/logic/usecases/auth/LoginUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/AssignProjectToUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/AssignTaskToUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/CreateUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/DeleteUserUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/GetAllUsersUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/GetUserByIdUseCaseTest.kt
  src/test/kotlin/logic/usecases/user/RemoveFromProjectUserUseCaseTest.kt
  src/test/kotlin/test_helper/userTestHelper.kt
Labels: enhancement, feature, test cases, fix

#58 Refactor/test cases
  build.gradle.kts
  src/main/kotlin/data/csv_data/csv_parser/UserCsvParser.kt
  src/test/kotlin/data/csv_parser/UserCsvParserTest.kt
  src/test/kotlin/data/mongodb_data/datasource/UserDataSourceImplTest.kt
  src/test/kotlin/data/repositories/AuditRepositoryImplTest.kt
  src/test/kotlin/data/repositories/AuthenticationRepositoryImplTest.kt
  src/test/kotlin/data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/data/repositories/TaskStateDataSourceImplTest.kt
  src/test/kotlin/data/repositories/TasksRepositoryImplTest.kt
  src/test/kotlin/data/repositories/UserDataSourceImplTest.kt
  src/test/kotlin/domain/usecases/audit/ViewAuditLogsByProjectUseCaseTest.kt
  src/test/kotlin/domain/usecases/audit/ViewAuditLogsByTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/auth/LoginUseCaseTest.kt
  src/test/kotlin/domain/usecases/auth/RegisterUseCaseTest.kt
  src/test/kotlin/domain/usecases/project/CreateProjectUseCaseTest.kt
  src/test/kotlin/domain/usecases/project/DeleteProjectUseCaseTest.kt
  src/test/kotlin/domain/usecases/project/GetAllProjectsUseCaseTest.kt
  src/test/kotlin/domain/usecases/project/GetProjectByIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/project/UpdateProjectUseCaseTest.kt
  src/test/kotlin/domain/usecases/task/AddTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/task/DeleteTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/task/EditTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/task/GetTaskByIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/task/GetTaskByProjectIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/task_state/AddTaskStateUseCaseTest.kt
  src/test/kotlin/domain/usecases/task_state/DeleteTaskStateUseCaseTest.kt
  src/test/kotlin/domain/usecases/task_state/EditTaskStateUseCaseTest.kt
  src/test/kotlin/domain/usecases/task_state/GetTaskStateByIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/task_state/GetTaskStatesByProjectIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/AssignProjectToUserUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/AssignTaskToUserUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/CreateUserUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/DeleteUserUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/GetAllUsersUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/GetUserByIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/user/RemoveFromProjectUserUseCaseTest.kt
  src/test/kotlin/test_helper/userTestHelper.kt
Labels: enhancement, test cases, fix

#59 Improve testing
  src/test/kotlin/data/mappers/MapperKtTest.kt
  src/test/kotlin/data/repositories/TaskStateRepositoryImplTest.kt
  src/test/kotlin/data/repositories/UserRepositoryImplTest.kt
  src/test/kotlin/domain/usecases/sub_task/CreateSubTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/sub_task/DeleteSubTaskUseCaseTest.kt
  src/test/kotlin/domain/usecases/sub_task/GetSubTasksByTaskIdUseCaseTest.kt
  src/test/kotlin/domain/usecases/sub_task/UpdateSubTaskUseCaseTest.kt
Labels: enhancement, test cases

#60 Improve testing
  src/main/kotlin/data/csv_data/csv_parser/UserCsvParser.kt
  src/test/kotlin/data/mongodb_data/repositories/AuditLogRepositoryImplTest.kt
  src/test/kotlin/data/mongodb_data/repositories/ProjectsRepositoryImplTest.kt
  src/test/kotlin/data/mongodb_data/repositories/TaskRepositoryImplTest.kt
Labels: enhancement, test cases

#61 Improve UI test cases
  src/test/kotlin/presentation/auth/LoginUserUITest.kt
  src/test/kotlin/presentation/auth/RegisterAdminUITest.kt
  src/test/kotlin/presentation/project/CreateProjectUITest.kt
  src/test/kotlin/presentation/project/GetAllProjectsUITest.kt
  src/test/kotlin/presentation/project/ProjectsUITest.kt
  src/test/kotlin/presentation/project/UpdateProjectNameUITest.kt
  src/test/kotlin/presentation/state/CreateTaskStateUITest.kt
  src/test/kotlin/presentation/state/DeleteTaskStateUITest.kt
  src/test/kotlin/presentation/state/EditTaskStateUITest.kt
  src/test/kotlin/presentation/state/GetAllTaskStatesUITest.kt
  src/test/kotlin/presentation/state/TaskStateUITest.kt
  src/test/kotlin/presentation/sub_task/CalculateSubTaskPercentageUITest.kt
  src/test/kotlin/presentation/sub_task/CreateSubTaskUITest.kt
  src/test/kotlin/presentation/sub_task/DeleteSubTaskUITest.kt
  src/test/kotlin/presentation/sub_task/EditSubTaskUITest.kt
  src/test/kotlin/presentation/sub_task/GetSubTasksByTaskIdUITest.kt
  src/test/kotlin/presentation/sub_task/SubTaskUITest.kt
  src/test/kotlin/presentation/task/CreateTaskUITest.kt
  src/test/kotlin/presentation/task/DeleteTaskUITest.kt
  src/test/kotlin/presentation/task/EditTaskUITest.kt
  src/test/kotlin/presentation/task/GetAllTasksUITest.kt
  src/test/kotlin/presentation/task/TasksUITest.kt
  src/test/kotlin/presentation/user/AssignProjectToUserUITest.kt
  src/test/kotlin/presentation/user/CreateUserUITest.kt
  src/test/kotlin/presentation/user/DeleteUserUITest.kt
  src/test/kotlin/presentation/user/GetAllUserUITest.kt
  src/test/kotlin/presentation/user/UserUITest.kt
Labels: enhancement, test cases
